<div class="signup-container">
    <div class="signup-content">
        <div class="signup-title ">
            <h1>Sign Up</h1>
            <h2 class="signup-subtitle">Please fill in this form to create an account!</h2>
        </div>
        <hr>
        <form action="">
            <div class="form-container">
                <div class="username-container mb-3">
                    <div class="col-6 pe-2 first-name">
                        <input type="text" class="form-control" placeholder="First Name" required>
                    </div>
                    <div class="col-6 ps-2 last-name">
                        <input type="text" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control p-2" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control p-2" placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control p-2" placeholder="Confirm Password" required>
                </div>
                <div class="mb-3 policy-content">
                    <input type="checkbox" id="policy" required>
                    <label for="policy">&nbsp;I accept the <a href="#" class="text-decoration-none">Terms of Use </a> &
                        <a href="#" class="text-decoration-none">Privacy Policy</a></label>
                </div>
                <button class="btn btn-custom-style" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<a href="/home"><h1>home</h1></a>