<div class="container">
    <div class="product-content">
        <h1>Product List</h1>
        <a href="/home">Home</a>
        <div class="card-container">
            <div class="card" *ngFor="let product of products">
                <div class="content d-flex flex-column h-100">
                    <div class="image-custom-style">
                        <img [src]="product.thumbnail" alt="{{ product.title }}" class="product-image">
                    </div>
                    <div class="product-title">
                        <h5 class="product-name">{{ product.title }}</h5>
                    </div>
                    <div class="product-description">
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="product-price">
                        <p>Price: ${{ product.price }}</p>
                    </div>
                    <div class="product-rating">
                        <p>Rating: {{ product.rating }} ({{ product.reviews.length }} reviews)</p>
                    </div>
                    <div class="product-stock">
                        <p>Stock: {{ product.stock }}</p>
                    </div>
                    <div class="mt-auto">
                        <button class="btn btn-custom-style w-100">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage === 1">Prev</button>
            <span>Page {{ currentPage }}</span>
            <button class="btn btn-primary" (click)="nextPage()"
                [disabled]="products.length < itemsPerPage || itemsPerPage * currentPage >= totalProducts">Next</button>
        </div>
    </div>